Repository RichardHpa/pokemon-tgc-collector: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx tsc-files --noEmit

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx}": "npx eslint --fix",
  "**/*.{ts,tsx}": "npx tsc-files --noEmit"
}

updated vitest
  package-lock.json
  package.json
Due: none

updated heroicons
  package-lock.json
  package.json
Due: none

updated husky, postcss, isBot, happy-dom
  app/components/Navbar/Navbar.tsx
  package-lock.json
  package.json
Due: npx eslint --fix, npx tsc-files --noEmit

updated prisma
  package-lock.json
  package.json
Due: none

updated eslint
  app/types/overloadedElement.tsx
  package-lock.json
  package.json
Due: npx eslint --fix, npx tsc-files --noEmit

updated react types
  package-lock.json
  package.json
Due: none

updated code so cypress passes
  .eslintrc.js
  .husky/pre-commit
  .lintstagedrc.json
  app/components/Navbar/Navbar.test.tsx
  app/components/Navbar/Navbar.tsx
  app/components/Navbar/__snapshots__/Navbar.test.tsx.snap
  app/root.tsx
  cypress/e2e/smoke.cy.ts
  other/validate
  package-lock.json
  package.json
  pokemon-tgc-collector-0.0.4.tgz
Due: npx eslint --fix, npx tsc-files --noEmit

added in colors
  other/validate
  pokemon-tgc-collector-0.0.4.tgz
Due: none

testing custom script
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  other/validate.sh
  package.json
  scripts/test.js
Due: npx eslint --fix

test
  .husky/pre-commit
  app/root.tsx
  other/validate.sh
  package.json
  scripts/test.js
Due: npx eslint --fix, npx tsc-files --noEmit

test
  scripts/test.js
Due: npx eslint --fix

testing pre-commit
  .eslintignore
  app/root.tsx
  package-lock.json
  package.json
  scripts/test.js
Due: npx eslint --fix, npx tsc-files --noEmit

testing pre-commit
  .eslintignore
Due: none

added in new pre-commit hook
  package-lock.json
  package.json
  scripts/validate.js
Due: npx eslint --fix

updated cypress
  app/root.tsx
  package-lock.json
  package.json
Due: npx eslint --fix, npx tsc-files --noEmit

updated tailwind
  package-lock.json
  package.json
Due: none

updated msw
  package-lock.json
  package.json
Due: none

updating npm packages (#45)
  .eslintignore
  .eslintrc.js
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  app/components/Navbar/Navbar.test.tsx
  app/components/Navbar/Navbar.tsx
  app/components/Navbar/__snapshots__/Navbar.test.tsx.snap
  app/root.tsx
  app/types/overloadedElement.tsx
  cypress/e2e/smoke.cy.ts
  package-lock.json
  package.json
  scripts/validate.js
Due: npx eslint --fix, npx tsc-files --noEmit

updated babel
  package-lock.json
  package.json
Due: none

moved session.server to utils
  README.md
  app/root.tsx
  app/routes/join.tsx
  app/routes/login.tsx
  app/routes/logout.tsx
  app/routes/notes.tsx
  app/routes/notes/$noteId.tsx
  app/routes/notes/new.tsx
  app/utils/session.server.ts
  cypress/support/create-user.ts
Due: npx eslint --fix, npx tsc-files --noEmit

created ThemeProvider
  app/root.tsx
  app/routes/index.tsx
  app/utils/theme-provider.tsx
Due: npx eslint --fix, npx tsc-files --noEmit

Initial State From User Preferences
  app/root.tsx
  app/utils/theme-provider.tsx
Due: npx eslint --fix, npx tsc-files --noEmit

theme gets saved in session
  app/root.tsx
  app/routes/action/set-theme.tsx
  app/utils/session.server.ts
  app/utils/theme-provider.tsx
  app/utils/theme.server.ts
Due: npx eslint --fix, npx tsc-files --noEmit

created theme toggler
  app/components/Navbar/Navbar.test.tsx
  app/components/Navbar/Navbar.tsx
  app/components/ThemeToggle/ThemeToggle.tsx
  app/components/ThemeToggle/index.ts
  app/routes/index.tsx
  notes.md
Due: npx eslint --fix, npx tsc-files --noEmit

created the theme for storybook
  .storybook/main.js
  .storybook/preview-head.html
  app/components/Inputs/InputField/InputField.tsx
  app/components/Inputs/InputField/__snapshots__/InputField.test.tsx.snap
  app/components/Navbar/Navbar.test.tsx
  app/root.tsx
  app/routes/index.tsx
  package-lock.json
  package.json
Due: npx eslint --fix, npx tsc-files --noEmit

added tailwind form
  .storybook/preview-head.html
  app/components/Button/baseClasses.ts
  app/components/Inputs/Checkbox/Checkbox.stories.tsx
  app/components/Inputs/Checkbox/Checkbox.tsx
  app/components/Inputs/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  app/components/Inputs/InputField/InputField.stories.tsx
  app/components/Inputs/InputField/InputField.tsx
  app/components/Inputs/InputField/__snapshots__/InputField.test.tsx.snap
  app/root.tsx
  package-lock.json
  package.json
  tailwind.config.js
Due: npx eslint --fix, npx tsc-files --noEmit

fixed failing tests
  app/components/Navbar/Navbar.test.tsx
  app/components/Navbar/__snapshots__/Navbar.test.tsx.snap
Due: npx eslint --fix, npx tsc-files --noEmit

created expansions pages and api
  app/api/getExpansions/getExpansions.tsx
  app/api/getExpansions/index.ts
  app/components/Card/Card.test.tsx
  app/components/Card/Card.tsx
  app/components/Card/__snapshots__/Card.test.tsx.snap
  app/components/Card/index.ts
  app/components/ExpansionCard/ExpansionCard.test.tsx
  app/components/ExpansionCard/ExpansionCard.tsx
  app/components/ExpansionCard/__snapshots__/ExpansionCard.test.tsx.snap
  app/components/ExpansionCard/index.ts
  app/components/ExpansionCard/types.ts
  app/components/Navbar/Navbar.test.tsx
  app/components/Navbar/Navbar.tsx
  app/components/Navbar/__snapshots__/Navbar.test.tsx.snap
  app/root.tsx
  app/routes/expansions/index.tsx
  mocks/fixtures/expansions.ts
  package-lock.json
  package.json
Due: npx eslint --fix, npx tsc-files --noEmit

created infinate scrolling for sets
  app/api/getExpansions/getExpansions.tsx
  app/routes/expansions/index.tsx
Due: npx eslint --fix, npx tsc-files --noEmit

edited api call
  app/components/ExpansionCard/ExpansionCard.tsx
  app/routes/expansions/index.tsx
Due: npx eslint --fix, npx tsc-files --noEmit

edited api call
  app/components/ExpansionCard/__snapshots__/ExpansionCard.test.tsx.snap
Due: none

created single expansion page
  app/api/getExpansion/getExpansion.tsx
  app/api/getExpansion/index.ts
  app/routes/expansions/$expansionId.tsx
  app/routes/expansions/index.tsx
  app/routes/index.tsx
Due: npx eslint --fix, npx tsc-files --noEmit
